.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  background-color: #004d80;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
